.pro {
  min-width: 250px;
  padding: 0.625rem 0.75rem;
  border: 1px solid var(--fe-box-shadow);
  border-radius: 1.5rem;
  box-shadow: 1.25rem 1.25rem 2rem rgba(0, 0, 0, 0.02);
  cursor: pointer;
  margin: 1rem 0;
  transition: 0.2s ease;
  position: relative;
}

.pro:hover {
  box-shadow: 1.25rem 1.25rem 2rem rgba(0, 0, 0, 0.06);
}

.pro img {
  width: 100%;
  border-radius: 1.25rem;
}

.pro .desc {
  text-align: start;
  padding: 1rem 0;
}

.pro .desc span {
  color: #606063;
  font-size: 1rem;
}

.pro .desc h5 {
  padding-top: 0.5rem;
  color: var(--nav-color);
  font-size: 1.25rem;
}

.pro .desc svg {
  margin-top: 2px;
  font-size: 1rem;
  color: rgb(243, 181, 25);
}

.pro .desc h4 {
  padding-top: 0.75rem;
  font-size: 201.25rempx;
  font-weight: 700;
  color: #088178;
}

.pro .cart {
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  border-radius: 50%;
  background-color: #e8f6ea;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 1.25rem;
  right: 0.625rem;
}
